# URL of the backend without trainling slash
VITE_API_URL=http://localhost:3000
VITE_TURNSTILE_SITE_KEY=

# Maximum number of bands per user and maximum number of tracks per band. Keep this synchronized with the settings in the backend
VITE_MAX_NUM_BANDS_PER_USER=3
VITE_MAX_NUM_TRACKS_PER_BAND=5

# Maximum length of several text fields; Keep this synchronized with the setting in the backend
VITE_MAX_LENGTH_BAND_NAME=150
VITE_MAX_LENGTH_BAND_DESCRIPTION=10000
VITE_MAX_LENGTH_TRACK_TITLE=150

# page size for band page
VITE_BANDS_PAGE_SIZE=20